{% extends "base.html" %}

{%  block title %}Profile page - {{ user.email }}{% endblock title %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh80K2dKoYTZ3aiFlA3ia9qyZfL1kfrSE9aQ&usqp=CAU" class="card-img-top" alt="avatar">
  <div class="card-body">
    <h5 class="card-title">Hello {{ user.email }}</h5>
    <p class="card-text">Your data is as follows:</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Id: {{ user.id }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">Session token:
      *********-****-****-****-{{ user.session_token[24:] }}</li>
  </ul>
  <div class="card-body">
    <div class="d-flex flex-column gap-2">
      <a href="/users/profile/edit" class="btn btn-primary">Edit your profile</a>
      <a href="/users/profile/delete" class="btn btn-danger">Delete your profile</a>
    </div>
  </div>
</div>
{% endblock content %}