{% extends "base.html" %}

{% block title %}Success{% endblock title %}

{% block content %}
<h3>Welcome! Please fill out the form.</h3>

<form method="post" action="/users/register">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/"><button type="button" class="btn btn-warning mt-4">Home</button></a>
{% endblock content %}