{% extends "base.html" %}

{%  block title %}Profile page - {{ user.email }}{% endblock title %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh80K2dKoYTZ3aiFlA3ia9qyZfL1kfrSE9aQ&usqp=CAU" class="card-img-top" alt="avatar">
  <div class="card-body">
    <h5 class="card-title">{{ user.email }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Id: {{ user.id }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">Session token:
      *********-****-****-****-{{ user.session_token[24:] }}</li>
  </ul>
  <div class="card-body">
    <div class="d-grid gap-2">
      <a href="/users" class="card-link btn btn-info">Users</a>
      <a href="/" class="card-link btn btn-success">Home</a>
    </div>
  </div>
</div>
{% endblock content %}